:root {
  --drop-height: 250px;
}

.letter-container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 100%;
}
.letter-wrapper {
  position: absolute;
  top: 0;
  opacity: 0;
}
.letter-container img {
  display: block;
  position: absolute;
}
.letter-wrapper {
  animation-duration: 2s;
}

.letter-wrapper.anim-bottom {
  animation: anim-down 1.5s both;
}

@keyframes anim-down {
  0% {
    opacity: 1;
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
  38% {
    opacity: 0;
    transform: translateY(var(--drop-height));
    animation-timing-function: ease-out;
  }
  55% {
    opacity: 1;
    transform: translateY(calc(var(--drop-height) * 0.45));
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(var(--drop-height));
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(calc(var(--drop-height) * 0.7));
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(var(--drop-height));
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(calc(var(--drop-height) * 0.93));
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(var(--drop-height));
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.letter-wrapper.anim-top {
  animation: anim-up 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes anim-up {
  0% {
    transform: translateY(var(--drop-height)) rotateX(30deg) scale(0.5);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% -1400px;
    opacity: 1;
  }
}
