body {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  background: var(--main-bg-color);
  font-size: 0.5em;
}
@media screen and (min-width: 410px) {
  body {
    font-size: 0.625em;
  }
}
@media screen and (min-width: 540px) {
  body {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 699px) {
  body {
    font-size: 0.975em;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.1em;
  }
}

/*
 *  Layout Styles
 *
 */
#root {
  margin: 0;
}
h1,
h2 {
  display: inline;
}
h1 {
  letter-spacing: var(--h1-letter-spacing);
  color: var(--h1-color);
}
h1 span {
  font-size: var(--h1-span-font-size);
}
h3 {
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  padding: var(--h3-padding);
  text-align: center;
  margin: var(--h3-margin);
  letter-spacing: var(--h3-letter-spacing);
  color: var(--h3-color);
}

.board-leaderboard {
  display: flex;
  justify-content: space-around;
}
.button {
  cursor: pointer;
}
button {
  background-color: transparent;
  border: 0 none;
}
