.evictee-votes {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  padding: var(--evictee-votes-padding);
}
.evictee-voter-name {
  padding-top: var(--evictee-voter-name-padding);
}
.evictee-votes--label {
  font: var(--evictee-votes-label-font);
}
.evictee-votes--count {
  font: var(--evictee-votes-count-font);
}
